<a href="https://colab.research.google.com/github/timcruz81/Portfolio/blob/main/IBAN_VALIDATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **International Bank Account Number**

The International Bank Account Number (IBAN) is an internationally agreed system of identifying bank accounts across national borders to facilitate the communication and processing of cross border transactions with a reduced risk of transcription errors. An IBAN uniquely identifies the account of a customer at a financial institution.

### **Validating the IBAN**

An IBAN is validated by converting it into an integer and performing a basic mod-97 operation (as described in ISO 7064) on it. If the IBAN is valid, the remainder equals 1.

The algorithm of IBAN validation is as follows:

* Check that the total IBAN length is correct as per the country. If not, the IBAN is invalid

* Move the four initial characters to the end of the string

* Replace each letter in the string with two digits, thereby expanding the string, where A = 10, B = 11, ..., Z = 35

* Interpret the string as a decimal integer and compute the remainder of that number on division by 97

* If the remainder is 1, the check digit test is passed and the IBAN might be valid.

### **Example**

(fictitious United Kingdom bank, sort code 12-34-56, account number 98765432):

• IBAN:		GB82 WEST 1234 5698 7654 32	
• Rearrange:		W E S T12345698765432 G B82	
• Convert to integer:		3214282912345698765432161182	
• Compute remainder:		3214282912345698765432161182	mod 97 = 1

### **Simulator**

In [117]:
import random

def play():
        count = 0

          # Keep looping until we return
        while True:
        
                count += 1
                  
                x = input("Insert your IBAN: ")   #Insert IBAN  
                IBAN = x.upper().replace(" ","")   #remove space and upper every letter
                
                #Creating a list with each letter of the IBAN
                lst = []
                
                for letter in IBAN:
                    lst.append(letter)

                #Moving the four initial characters to the end of the string
  
                l = lst[4:] + lst[0:4]

                #Replacing each letter in the string with two digits     
                
                for i in range(len(l)):
                  
                    if l[i] in ['0','1','2','3','4','5','6','7','8','9']: 
                        l[i] = l[i]
                    else:
                        l[i] = str(ord(l[i]) - 55)  #where A = 10, B = 11, ..., Z = 35

                #Transforming the list in a number and test the mod 97 condition.   
                
                b = ''.join(l)    #expanding the string
                c = int(b)        #changing for number type
                
                #Computing the number on division by 97
                
                if c % 97 == 1:               
                  print("valid IBAN") #if the remainder is 1, the IBAN might be valid.

                else: 
                  print("invalid IBAN")
                  return  # leave play

def main():
    
     while True:    
         play()

         play_again = input('Insert another IBAN? y/n: ') == 'y'
         if not play_again:
             return  # leave main

main()

Insert your IBAN: GB82 WEST 1234 5698 7654 32
valid IBAN
Insert your IBAN: GB82 WEST 1234 5698 7654 31
invalid IBAN
Insert another IBAN? y/n: n

### **Bulk from my PC (upload)**

In [118]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
from datetime import date
today = date.today().strftime("%Y%m%d") + '.csv'

df1 = pd.read_csv(today) 

df1.rename(columns = {'Iban/Account':'iban'}, inplace = True)    #change the head name to 'iban'
df1['check'] = ""            #insert a new colunm 'check'


import random

for i in range(len(df1.iban)):
                x = df1.iban[i] #Insert IBAN  
                             
                IBAN = x.upper().replace(" ","")   #remove space and upper every letter
                
                #Creating a list with each letter of the IBAN
                lst = []
                
                for letter in IBAN:
                    lst.append(letter)

                #Moving the four initial characters to the end of the string
  
                l = lst[4:] + lst[0:4]

                #Replacing each letter in the string with two digits     
                
                for y in range(len(l)):
                  
                    if l[y] in ['0','1','2','3','4','5','6','7','8','9']: 
                        l[y] = l[y]
                    else:
                        l[y] = str(ord(l[y]) - 55)  #where A = 10, B = 11, ..., Z = 35

                #Transforming the list in a number and test the mod 97 condition.   
                
                b = ''.join(l)    #expanding the string
                c = int(b)        #changing for number type
                
                #Computing the number on division by 97
                
                if c % 97 == 1:               
                  df1['check'][i] = True #if the remainder is 1, the IBAN might be valid.

                else: 
                  df1['check'][i] = False
df1

Saving 20221013.csv to 20221013 (2).csv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Dt Valor,Cliente,Benef,Valor,Tipo,Swift/Sort,iban,check
0,13/10/2022,A,B,100.0,CAMBIO,BBPIPTPL,PT50001000005576215000172,True
1,13/10/2022,A,B,100.0,SALDO,NTSBDEB1XXX,DE93100110012620139636,True
2,13/10/2022,A,B,100.0,CAMBIO,BCOMPTPL,PT50003300004566993440305,True
3,13/10/2022,A,B,100.0,CAMBIO,CGDIPTPL,PT50003502050068971473019,True
4,13/10/2022,A,B,100.0,CAMBIO,CGDIPTPL,PT50003501370000728993035,True
5,13/10/2022,A,B,100.0,CAMBIO,NTSBDEB1XXX,DE54100110012620649588,True
6,13/10/2022,A,B,100.0,SALDO,TRWIBEB1XXX,BE13967290405939,True
7,13/10/2022,A,B,100.0,CAMBIO,BOUSFRPPXXX,FR7640618803960004008957772,True
8,13/10/2022,A,B,100.0,CAMBIO,ACTVPTPL,PT50002300004558178157994,True
9,13/10/2022,A,B,100.0,CAMBIO,CTTVPTPL,PT50019300001050919710870,True
10,12/10/2022,A,B,100.0,SALDO,BCOMPTPL,PT50003300004554153627905,True
11,13/10/2022,A,B,100.0,CAMBIO,AGRIFRPP833,FR7613306002732311103699319,True
12,12/10/2022,A,B,100.0,SALDO,BPPIITRRXXX,IT80C0760116000001060658422,True
13,13/10/2022,A,B,100.0,SALDO,TOTAPTPL,PT50001800035630243302005,True
14,13/10/2022,A,B,100.0,CAMBIO,BCOMPTPL,PT50003300004564881517505,True

### **Bulk from GITHUB**

In [120]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/timcruz81/Portfolio/main/IBAN1.csv')

df.rename(columns = {'Iban/Account':'iban'}, inplace = True)    #change the head name to 'iban'
df['check'] = ""            #insert a new colunm 'check'


import random

for i in range(len(df.iban)):
                x = df.iban[i] #Insert IBAN  
                             
                IBAN = x.upper().replace(" ","")   #remove space and upper every letter
                
                #Creating a list with each letter of the IBAN
                lst = []
                
                for letter in IBAN:
                    lst.append(letter)

                #Moving the four initial characters to the end of the string
  
                l = lst[4:] + lst[0:4]

                #Replacing each letter in the string with two digits     
                
                for y in range(len(l)):
                  
                    if l[y] in ['0','1','2','3','4','5','6','7','8','9']: 
                        l[y] = l[y]
                    else:
                        l[y] = str(ord(l[y]) - 55)  #where A = 10, B = 11, ..., Z = 35

                #Transforming the list in a number and test the mod 97 condition.   
                
                b = ''.join(l)    #expanding the string
                c = int(b)        #changing for number type
                
                #Computing the number on division by 97
                
                if c % 97 == 1:               
                  df['check'][i] = True #if the remainder is 1, the IBAN might be valid.

                else: 
                  df['check'][i] = False
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Dt Valor,Cliente,Benef,Valor,Tipo,Swift/Sort,iban,check
0,13/10/2022,A,B,100.0,CAMBIO,BBPIPTPL,PT50001000005576215000174,False
1,13/10/2022,A,B,100.0,SALDO,NTSBDEB1XXX,DE 93100110012620139636,True
2,13/10/2022,A,B,100.0,CAMBIO,BCOMPTPL,Pt50003300004566993440305,True
3,13/10/2022,A,B,100.0,CAMBIO,CGDIPTPL,PT50003502050068971473019,True
4,13/10/2022,A,B,100.0,CAMBIO,CGDIPTPL,PT50003501370000728993035,True
5,13/10/2022,A,B,100.0,CAMBIO,NTSBDEB1XXX,DE54100110012620649588,True
6,13/10/2022,A,B,100.0,SALDO,TRWIBEB1XXX,BE13967290405939,True
7,13/10/2022,A,B,100.0,CAMBIO,BOUSFRPPXXX,FR7640618803960004008957772,True
8,13/10/2022,A,B,100.0,CAMBIO,ACTVPTPL,PT50002300004558178157994,True
9,13/10/2022,A,B,100.0,CAMBIO,CTTVPTPL,PT50019300001050919710870,True
10,12/10/2022,A,B,100.0,SALDO,BCOMPTPL,PT50003300004554153627905,True
11,13/10/2022,A,B,100.0,CAMBIO,AGRIFRPP833,FR7613306002732311103699319,True
12,12/10/2022,A,B,100.0,SALDO,BPPIITRRXXX,IT80C0760116000001060658422,True
13,13/10/2022,A,B,100.0,SALDO,TOTAPTPL,PT50001800035630243302005,True
14,13/10/2022,A,B,100.0,CAMBIO,BCOMPTPL,PT50003300004564881517504,False